.header{
    width: 100vw;
    height: 60px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    color: rgb(2, 2, 207);
}

.fetch-btn{
    height: 40px;
    width: 140px;
    margin-right: 40px;
    background-color: rgb(18, 18, 221);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;

}
.fetch-btn:hover{
    /* text-decoration: underline; */
    cursor: pointer;
}
.fetch-btn:active{
    transform: scale(0.95);
}
.loading{
    margin-left: 60px;
    letter-spacing: 1px;
    color: rgb(153, 146, 146);
    font-size: 18px;
}
.user{
    /* text-decoration: none; */
    margin: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
}
.user:hover{
    cursor: pointer;
    text-decoration: underline;
}