.Nav{
    width: 100vw;
    height: 60px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.userName{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    color: rgb(2, 2, 207);
}
.addTask-btn{
    height: 40px;
    width: 100px;
    margin-right: 40px;
    background-color: rgb(18, 18, 221);
    border-radius: 5px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}
.addTask-btn:hover{
    cursor: pointer;
}
.addTask-btn:active{
    transform: scale(0.97);
}
.task-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* border: 1px solid black; */
  }
  
  .task-table th,
  .task-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .task-table th {
    /* background-color: #f2f2f2; */
    background-color: lightblue;

  }
  
  .task-table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  .task-actions {
    /* text-align: center!; */
    /* gap: 8px; */
    padding-left: 12px!important;
    cursor: pointer;
  }